* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 80%;
  margin-inline: 10%;
  margin-top: 2rem;
  padding: 0;
}

.square {
  background: #6c489b;
  border: 1px solid #999;
  float: left;
  font-size: 8.5vw;
  font-weight: bold;
  aspect-ratio: 1;
  margin-right: -1px;
  margin-top: -1px;
  width: min(30%, 30vh);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 2rem;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.game-board {
  flex-basis: 380px;
  flex-grow: 9999;
}

.game-info {
  flex-basis: 220px;
  flex-grow: 800;
  padding-inline: 2%;
}

li {
  font-size: 1.25rem;
}

#revButton {
  font-size: 0.75rem;
}

#goto {
  font-weight: bold;
}

#highlight {
  background: blue;
}
@media screen and (width < 700px) {
  body {
    width: 90vw;
    margin-inline: 5%;
  }
}
